@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

* {
  word-break: keep-all;
}

html,
body,
#__next {
  height: 100%;
}
